@import "perfect-scrollbar/css/perfect-scrollbar.css";

:root {
	--font: "Roboto", sans-serif;
	--color-accent: #A18A68;
	--color-black: #000000;
	--color-black-hover: #222222;
	--color-dark-gray: #707070;
	--color-gray: #D8D8D8;
	--color-white-light: #FFFFFF;
	--color-bg: #f7f5f2;
	--color-danger: #b42318;
	--fg-muted: #707070;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-bg);
	color: var(--color-black);
}

h1 {
	color: var(--color-black);
	text-align: left;
	font-size: 33px;
	font-weight: 500;
	line-height: 43px;
}

a {
	color: inherit;
}

button,
input,
textarea {
	font: inherit;
}
